{%extends 'base.html'%}
{%block title%}
customer register
{%endblock title%}

{%block body%}

     <div id="register_form">
        <form  method="post" enctype="multipart/form-data" class="login-formReg">
            <h1>Register Form</h1>
            {%csrf_token%}
            {{ECFO.as_div}}
            {{EPFO.as_div}}
            <div class="input-field">
                <input type="submit" value="REGISTER">
            </div>
        </form>
   
     </div>
{%endblock body%}